<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <!--bootstrap.min.css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!--font-awesome.min.css -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <!--material-design-iconic-font.min.css -->
    <link href="~/Content/css/material-design-iconic-font.min.css" rel="stylesheet">
    <!--owl.carousel.min.css -->
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet">
    <!--magnific-popup.css -->
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet">
    <!--nice-select.css -->
    <link href="~/Content/css/nice-select.css" rel="stylesheet">
    <!--slicknav.min.css -->
    <link href="~/Content/css/slicknav.min.css" rel="stylesheet">
    <!--style.css -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!--responsive.css -->
    <link href="~/Content/css/responsive.css" rel="stylesheet">

</head>
<body>
    <div id="popup-search-box-id" class="popup-search-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="popup-search-box-inner">
                        <form action="mail.php">
                            <div class="row">
                                <div class="col-md-10">
                                    <input type="search" placeholder="Search here...">
                                </div>
                                <div class="col-md-2">
                                    <button type="submit"><i class="zmdi zmdi-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <span class="close-btn-search"><i class="zmdi zmdi-close"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-area header-absolute">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="~/Content//img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-8">
                    <div class="mainmenu">
                        <ul id="slicknav-menu-list">
                            <li>
                                <a href="@Url.Action("Index","Home")">Home</a>
                                <ul>
                                    <li><a href="index-2.html">Hompage two</a></li>
                                    <li><a href="index-3.html">Hompage three</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="tours.html">Tours</a>
                                <ul>
                                    <li><a href="tours-details.html">Tours Details</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="@Url.Action("Destination","Home")">Destination</a></li>
                            <li>
                                <a href="team-member.html">Team</a>
                                <ul>
                                    <li><a href="team-details.html">Team Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Page</a>
                                <ul>
                                    <li><a href="car-booking.html">Car Booking</a></li>
                                    <li><a href="car-list.html">Car List</a></li>
                                    <li><a href="car-details.html">Car Details</a></li>
                                    <li><a href="flight-home.html">Flight Home</a></li>
                                    <li><a href="flight-booking.html">Flight Booking</a></li>
                                    <li><a href="flight-details.html">Flight Details</a></li>
                                    <li><a href="hotel-list.html">Hotel List</a></li>
                                    <li><a href="hotel-details.html">Hotel Details</a></li>
                                    <li><a href="hotel-booking.html">Hotel Booking</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-details.html">Shop Details</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                    <li><a href="contact-us-v2.html">Contact Us 2</a></li>
                                    <li><a href="404.html">404 Error</a></li>
                                    <li><a href="404-v2.html">404 Error 2</a></li>
                                    <li><a href=""></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog-medium.html">Blog</a>
                                <ul>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-6">
                    <div class="header-right">
                        <a href="#" class="travel-cart"><img src="~/Content/img/cart-icon-img.png" alt=""><span>0</span></a>
                        <a href="#" class="search-icon-header"><i class="zmdi zmdi-search"></i></a>
                        <ul class="language-selector">
                            <li>
                                <a href="#" class="header-flug"><img src="~/Content//img/flug-1.jpg" alt=""><i class="zmdi zmdi-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#"><img src="~/Content//img/flug-2.jpg" alt=""> <span>India</span></a></li>
                                    <li><a href="#"><img src="~/Content//img/flug-3.jpg" alt=""> <span>NewZealand</span></a></li>
                                    <li><a href="#"><img src="~/Content//img/flug-4.jpg" alt=""> <span>Sri Lanka</span></a></li>
                                    <li><a href="#"><img src="~/Content//img/flug-5.jpg" alt=""> <span>Zimbabwe</span></a></li>
                                </ul>
                            </li>
                        </ul>
                        <a href="login.html">Login</a>
                        <a href="register.html">Register</a>
                    </div>
                    <div class="slicknav-menu-wrap"></div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="padding-bottom footer-top-area">
        <div class="counter-up-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="single-counter-up-item">
                            <div class="single-counter-up-item-image">
                                <img src="~/Content/img/counter-up-img1.png" alt="">
                            </div>
                            <div class="single-counter-up-item-text">
                                <h1><span class="counter">15,050</span></h1>
                                <p>Happy Customers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-counter-up-item">
                            <div class="single-counter-up-item-image">
                                <img src="~/Content/img/counter-up-img2.png" alt="">
                            </div>
                            <div class="single-counter-up-item-text">
                                <h1><span class="counter">2130</span></h1>
                                <p>Amazing Tours</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-counter-up-item">
                            <div class="single-counter-up-item-image">
                                <img src="~/Content/img/counter-up-img3.png" alt="">
                            </div>
                            <div class="single-counter-up-item-text">
                                <h1><span class="counter">5050</span></h1>
                                <p>In Business</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-counter-up-item">
                            <div class="single-counter-up-item-image">
                                <img src="~/Content/img/counter-up-img4.png" alt="">
                            </div>
                            <div class="single-counter-up-item-text">
                                <h1><span class="counter">106</span></h1>
                                <p>Award Winning</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-title text-center clients-speech-title-hp1 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h1>Our Client Speech</h1>
                        <p>Explore a different way to travel</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="happy-clients-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="happy-clients-carousel owl-carousel">
                            <div data-dot="1" class="happy-client-single-item">
                                <div class="client-details-div">
                                    <div class="client-image-box client-image-one"></div>
                                    <div class="client-name-text">
                                        <h5>Reta Schmidt</h5>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="client-quote-para">
                                    <p>
                                        Seconds because, when I came to again I was still la
                                        ughing at Jonah timothy Simons the actor who plays
                                        Jonah responded on Twitter hahahahahahaha oh my
                                        god oh my god He promised.
                                    </p>
                                </div>
                            </div>
                            <div data-dot="2" class="happy-client-single-item">
                                <div class="client-details-div">
                                    <div class="client-image-box client-image-two"></div>
                                    <div class="client-name-text">
                                        <h5>Daphnee Schoen</h5>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="client-quote-para">
                                    <p>
                                        Significant slowdown in the rate of air quality impro
                                        vement as a result of the ramping up of industrial
                                        activity around Beijing Li claimed Last December ten
                                        of thousands of smog refugees .
                                    </p>
                                </div>
                            </div>
                            <div data-dot="3" class="happy-client-single-item">
                                <div class="client-details-div">
                                    <div class="client-image-box client-image-three"></div>
                                    <div class="client-name-text">
                                        <h5>Danielle Bechtelar</h5>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="client-quote-para">
                                    <p>
                                        Alongside Rouhani Referring to the marginalisation
                                        of reformists after the 2009 disputed presidential
                                        vote which gave hardliner Mahmoud Ahmadinejad
                                        a second term in office Jahangiri.
                                    </p>
                                </div>
                            </div>
                            <div data-dot="4" class="happy-client-single-item">
                                <div class="client-details-div">
                                    <div class="client-image-box client-image-one"></div>
                                    <div class="client-name-text">
                                        <h5>Reta Schmidt</h5>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="client-quote-para">
                                    <p>
                                        Seconds because, when I came to again I was still la
                                        ughing at Jonah timothy Simons the actor who plays
                                        Jonah responded on Twitter hahahahahahaha oh my
                                        god oh my god He promised.
                                    </p>
                                </div>
                            </div>
                            <div data-dot="" class="happy-client-single-item">
                                <div class="client-details-div">
                                    <div class="client-image-box client-image-three"></div>
                                    <div class="client-name-text">
                                        <h5>Danielle Bechtelar</h5>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="client-quote-para">
                                    <p>
                                        Seconds because, when I came to again I was still la
                                        ughing at Jonah timothy Simons the actor who plays
                                        Jonah responded on Twitter hahahahahahaha oh my
                                        god oh my god He promised.
                                    </p>
                                </div>
                            </div>
                            <div data-dot="" class="happy-client-single-item">
                                <div class="client-details-div">
                                    <div class="client-image-box client-image-two"></div>
                                    <div class="client-name-text">
                                        <h5>Daphnee Schoen</h5>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="client-quote-para">
                                    <p>
                                        Seconds because, when I came to again I was still la
                                        ughing at Jonah timothy Simons the actor who plays
                                        Jonah responded on Twitter hahahahahahaha oh my
                                        god oh my god He promised.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="footer-widget para-widget">
                        <img src="~/Content/img/footer-logo.png" class="footer-logo" alt="">
                        <p>
                            Chinese state media captured the severity of the an
                            city’s latest air pollution crisis which local authorities
                            blamed largely on sand that winds .
                        </p>
                        <p>
                            &copy; 2017 Crazycafe.All Rights Reserved.<br>
                            Designed by <i class="zmdi zmdi-favorite-outline"></i> <a href="#">crazycafe.net</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="footer-widget list-widget">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="#">Press Centre</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Travel News</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget list-widget">
                        <h4>Recent Posts</h4>
                        <ul>
                            <li><a href="#">Standard Blog Post</a></li>
                            <li><a href="#">Amazing Fullwidth Post</a></li>
                            <li><a href="#">Amazing Place</a></li>
                            <li><a href="#">Quote Post</a></li>
                            <li><a href="#">Link Post</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget pink-icon-widget">
                        <h4>Contact Us</h4>
                        <ul>
                            <li><a href="tel:(799)-376-4681">(799) 376-4681</a></li>
                            <li><a href="mailto:Stroman.rogers@gmail.com">Stroman.rogers@gmail.com</a></li>
                            <li>
                                <a href="#">
                                    6281 Liana Extensions,
                                    Lemkeport, NY
                                </a>
                            </li>
                        </ul>

                        <div class="social-links-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--jquery.min.js-->
    <script src="~/Content/js/jquery.min.js"></script>
    <!--bootstrap.min.js-->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!--owl.carousel.min.js-->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!--magnific-popup-1.1.0.js-->
    <script src="~/Content/js/magnific-popup-1.1.0.js"></script>
    <!--jquery.nice-select.min.js-->
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <!--jquery.waypoints.4.0.0.min.js-->
    <script src="~/Content/js/jquery.waypoints.4.0.0.min.js"></script>
    <!--jquery.counterup.min.js-->
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <!--jquery.slicknav.min.js-->
    <script src="~/Content/js/jquery.slicknav.min.js"></script>
    <!--main.js-->
    <script src="~/Content/js/main.js"></script>
</body>
</html>
