
@{
    ViewBag.Title = "Ticket";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-content">
    <div class="section__content section__content--p30">
        @Html.Action("TicketTable", "Admin")
    </div>
</div>


