
@{
    ViewBag.Title = "Destination";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="page-welcome-area">
    <div class="page-title-area black-overlay text-center" style="background-image: url(../../Content/img/topproof2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-inner">
                        <div class="page-title-inner-table-cell">
                            <h1>Destinations</h1>
                            <div class="page-title-menu">
                                <ul>
                                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                    <li><a href="@Url.Action("Destination","Home")">Destinations</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="destinations-page-content-area section-padding">
    <div class="destinations-title-section padding-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Welcome to the Viet Nam</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="top-destination-columns padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-top-destination-item black-overlay" style="background-image: url(../../Content/img/Halongbay.jpg)">
                        <div class="single-top-destination-item-inner">
                            <h2>Ha Long Bay</h2>
                            <a href="#" class="pink-btn">FROM $1250</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-top-destination-item black-overlay" style="background-image: url(../../Content/img/Dalat.jpg)">
                        <div class="single-top-destination-item-inner">
                            <h2>Da Lat</h2>
                            <a href="#" class="pink-btn">FROM $530</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-top-destination-item black-overlay" style="background-image: url(../../Content/img/Hue.jpg)">
                        <div class="single-top-destination-item-inner">
                            <h2>Hue</h2>
                            <a href="#" class="pink-btn">FROM $750</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-top-destination-item black-overlay" style="background-image: url(../../Content/img/Hoian.jpg)">
                        <div class="single-top-destination-item-inner">
                            <h2>Hoi An </h2>
                            <a href="#" class="pink-btn">FROM $950</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-destination-columns">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-top-destination-item black-overlay" style="background-image: url(../../Content/img/Hcmcity.jpg)">
                        <div class="single-top-destination-item-inner">
                            <h2>Ho Chi Minh City</h2>
                            <a href="#" class="pink-btn">FROM $1250</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-top-destination-item black-overlay" style="background-image: url(../../Content/img/Muine.jpg)">
                        <div class="single-top-destination-item-inner">
                            <h2>Mui Ne</h2>
                            <a href="#" class="pink-btn">FROM $530</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-top-destination-item black-overlay" style="background-image: url(../../Content/img/Phuquoc.jpeg)">
                        <div class="single-top-destination-item-inner">
                            <h2>Phu Quoc</h2>
                            <a href="#" class="pink-btn">FROM $750</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-top-destination-item black-overlay" style="background-image: url(../../Content/img/Nhatrangbeach.jpg)">
                        <div class="single-top-destination-item-inner">
                            <h2>Nha Trang</h2>
                            <a href="#" class="pink-btn">FROM $950</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
