<div class="section-sea-tours-area">
    <div class="section-title text-center section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>The Best Sea Tours</h1>
                    <p>Explore a different way to travel</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sea-tours-columns padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sea-tours-carousel-hp1-columns owl-carousel">
                        <div class="single-sea-tours-item">
                            <div class="single-sea-tours-image single-sea-tours-image1 black-overlay ">
                                <a href="#" class="pink-btn">$1500</a>
                                <h2>South America</h2>
                            </div>
                            <div class="single-sea-tours-text">
                                <h5><a href="tours-details.html">South America - 5 Days in Lake Tahoe</a></h5>
                                <span class="post-day-count">
                                    <a href="#"><i class="zmdi zmdi-time"></i> 5 Days</a>
                                </span>
                                <span class="post-review-stars">
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline dark-star"></i></a>
                                </span>
                                <span class="post-review-count"><a href="#">(2 Reviews)</a></span>
                            </div>
                        </div>
                        <div class="single-sea-tours-item">
                            <div class="single-sea-tours-image single-sea-tours-image2 black-overlay">
                                <a href="#" class="pink-btn">$1150</a>
                                <h2>British Islands</h2>
                            </div>
                            <div class="single-sea-tours-text">
                                <h5><a href="tours-details.html">Islands - 7 Days in Popular Place</a></h5>
                                <span class="post-day-count">
                                    <a href="#"><i class="zmdi zmdi-time"></i> 7 Days</a>
                                </span>
                                <span class="post-review-stars">
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline dark-star"></i></a>
                                </span>
                                <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                            </div>
                        </div>
                        <div class="single-sea-tours-item">
                            <div class="single-sea-tours-image single-sea-tours-image3 black-overlay">
                                <a href="#" class="pink-btn">$1150</a>
                                <h2>Banff</h2>
                            </div>
                            <div class="single-sea-tours-text">
                                <h5><a href="tours-details.html">Banff - 3 Days in Popular Place</a></h5>
                                <span class="post-day-count">
                                    <a href="#"><i class="zmdi zmdi-time"></i> 3 Days</a>
                                </span>
                                <span class="post-review-stars">
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline dark-star"></i></a>
                                </span>
                                <span class="post-review-count"><a href="#">(3 Reviews)</a></span>
                            </div>
                        </div>
                        <div class="single-sea-tours-item">
                            <div class="single-sea-tours-image single-sea-tours-image2 black-overlay">
                                <a href="#" class="pink-btn">$1150</a>
                                <h2>British Islands</h2>
                            </div>
                            <div class="single-sea-tours-text">
                                <h5><a href="tours-details.html">Islands - 7 Days in Popular Place</a></h5>
                                <span class="post-day-count">
                                    <a href="#"><i class="zmdi zmdi-time"></i> 7 Days</a>
                                </span>
                                <span class="post-review-stars">
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline dark-star"></i></a>
                                </span>
                                <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weekend-europe-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Weekend tour in Europe, Paris</h1>
                    <h4>$350</h4>
                    <p>Northern Ireland’s is now contingent. Britain is getting a divorce Northern Ireland is being offered a trial separation for Britain there is a one</p>
                    <a href="tours.html" class="pink-btn">View more Tours</a>
                </div>
            </div>
        </div>
    </div>
</div>

